In [2]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sn
import numpy as np
import glob

# Read in owid total
owid_total = pd.read_csv('/Users/dorotheakirves/neuefische/capstone_project/data/raw-owid-energy-data.csv')

# GDP

In [3]:
# Read in GDP Data
gdp_ppp = pd.read_csv("/Users/dorotheakirves/neuefische/capstone_project/data/raw-gdp-ppp-current-international-dollar.csv", skiprows=4)

In [4]:
# Keep only country code, country name and GDP
gdp_ppp = gdp_ppp.drop(['Indicator Code', 'Indicator Name'], axis=1)
gdp_ppp.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.442856e+09,3.799467e+09,3.816822e+09,3.893071e+09,3.941354e+09,4.098240e+09,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.772679e+12,1.893539e+12,2.025402e+12,2.098286e+12,2.212573e+12,2.319151e+12,2.438518e+12,2.536280e+12,2.495345e+12,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.966700e+10,6.503984e+10,6.905834e+10,7.183170e+10,7.009796e+10,7.471192e+10,7.741557e+10,8.187980e+10,8.091834e+10,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.396677e+12,1.526772e+12,1.645122e+12,1.662297e+12,1.678674e+12,1.744087e+12,1.841811e+12,1.937451e+12,1.946297e+12,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.861242e+11,1.998656e+11,2.203648e+11,2.046036e+11,2.048747e+11,2.179873e+11,2.187486e+11,2.212628e+11,2.118373e+11,NaN

In [5]:
# Years in rows
gdp_ppp = gdp_ppp.melt(id_vars=["Country Name", "Country Code"], 
        var_name="Year", 
        value_name="GDP_PPP")
gdp_ppp.head()

                  Country Name Country Code  Year  GDP_PPP
0                        Aruba          ABW  1960      NaN
1  Africa Eastern and Southern          AFE  1960      NaN
2                  Afghanistan          AFG  1960      NaN
3   Africa Western and Central          AFW  1960      NaN
4                       Angola          AGO  1960      NaN

In [6]:
# Convert year into numeric, drop rows before 1990, reset index
gdp_ppp["Year"] = pd.to_numeric(gdp_ppp["Year"], errors='coerce')
gdp_ppp = gdp_ppp.drop(gdp_ppp[gdp_ppp.Year < 1990].index)
gdp_ppp = gdp_ppp.reset_index()
gdp_ppp = gdp_ppp.drop(['index'], axis=1)

In [7]:
gdp_ppp.head()

                  Country Name Country Code    Year       GDP_PPP
0                        Aruba          ABW  1990.0  1.447709e+09
1  Africa Eastern and Southern          AFE  1990.0  5.653495e+11
2                  Afghanistan          AFG  1990.0           NaN
3   Africa Western and Central          AFW  1990.0  3.544564e+11
4                       Angola          AGO  1990.0  3.885349e+10

In [8]:
# Store in csv again for tableau
gdp_ppp.to_csv('/Users/dorotheakirves/neuefische/capstone_project/data/gdp-ppp-current-international-dollar-clean.csv')

# Country Codes

In [9]:
# Read in country codes in Stata
country_codes = pd.read_stata('/Users/dorotheakirves/neuefische/capstone_project/data/location.dta')
country_codes.head()

  location_id location_code location_name_short_en    level  parent_id
0           0           ABW                  Aruba  country      356.0
1           1           AFG            Afghanistan  country      353.0
2           2           AGO                 Angola  country      352.0
3           3           AIA               Anguilla  country      356.0
4           4           ALB                Albania  country      355.0

In [10]:
# Store country codes in csv for Tableau
country_codes.to_csv('/Users/dorotheakirves/neuefische/capstone_project/data/location.csv')

In [11]:
# Create List for only African Countries
# Read in List of African Countries
africa_total = pd.read_csv('/Users/dorotheakirves/neuefische/capstone_project/data/countries_in_africa.csv')

In [12]:
# Merge country code list with only Africa list
country_codes_africa = country_codes.merge(africa_total, left_on='location_name_short_en', right_on='country') 
country_codes_africa

,location_id,location_code,location_name_short_en,level,parent_id,Unnamed: 0,country
0,2,AGO,Angola,country,352.0,1,Angola
1,17,BDI,Burundi,country,352.0,5,Burundi
2,19,BEN,Benin,country,352.0,2,Benin
3,21,BFA,Burkina Faso,country,352.0,4,Burkina Faso
4,37,BWA,Botswana,country,352.0,3,Botswana
5,38,CAF,Central African Republic,country,352.0,8,Central African Republic
6,45,CMR,Cameroon,country,352.0,7,Cameroon
7,50,COM,Comoros,country,352.0,10,Comoros
8,51,CPV,Cabo Verde,country,352.0,6,Cabo Verde
9,62,DJI,Djibouti,country,352.0,13,Djibouti
10,66,DZA,Algeria,country,352.0,0,Algeria
11,68,EGY,Egypt,country,352.0,14,Egypt
12,69,ERI,Eritrea,country,352.0,15,Eritrea
13,73,ETH,Ethiopia,country,352.0,17,Ethiopia
14,80,GAB,Gabon,country,352.0,18,Gabon
15,83,GHA,Ghana,country,352.0,20,Ghana
16,85,GIN,Guinea,country,352.0,21,Guinea
17,88,GNB,Guinea-Bissau,country,352.0,22,Guinea-Bissau
18,116,KEN,Kenya,country,352.0,23,Kenya
19,125,LBR,Liberia,country,352.0,25,Liberia
20,126,LBY,Libya,country,352.0,26,Libya
21,129,LSO,Lesotho,country,352.0,24,Lesotho
22,134,MAR,Morocco,country,352.0,32,Morocco
23,136,MDG,Madagascar,country,352.0,27,Madagascar
24,141,MLI,Mali,country,352.0,29,Mali
25,147,MOZ,Mozambique,country,352.0,33,Mozambique
26,148,MRT,Mauritania,country,352.0,30,Mauritania
27,151,MUS,Mauritius,country,352.0,31,Mauritius
28,152,MWI,Malawi,country,352.0,28,Malawi
29,155,NAM,Namibia,country,352.0,34,Namibia
30,157,NER,Niger,country,352.0,35,Niger
31,159,NGA,Nigeria,country,352.0,36,Nigeria
32,187,RWA,Rwanda,country,352.0,38,Rwanda
33,190,SDN,Sudan,country,352.0,46,Sudan
34,191,SEN,Senegal,country,352.0,40,Senegal
35,196,SLE,Sierra Leone,country,352.0,42,Sierra Leone
36,199,SOM,Somalia,country,352.0,43,Somalia
37,202,SSD,South Sudan,country,352.0,45,South Sudan
38,209,SWZ,Eswatini,country,352.0,16,Eswatini
39,211,SYC,Seychelles,country,352.0,41,Seychelles
40,214,TCD,Chad,country,352.0,9,Chad
41,215,TGO,Togo,country,352.0,48,Togo
42,223,TUN,Tunisia,country,352.0,49,Tunisia
43,226,TZA,Tanzania,country,352.0,47,Tanzania
44,227,UGA,Uganda,country,352.0,50,Uganda
45,246,ZAF,South Africa,country,352.0,44,South Africa
46,247,ZMB,Zambia,country,352.0,51,Zambia
47,248,ZWE,Zimbabwe,country,352.0,52,Zimbabwe

In [13]:
# Identify missing countries
africa_total['has_code'] = africa_total['country'].isin(country_codes_africa['country'])
africa_total

    Unnamed: 0                           country  has_code
0            0                           Algeria      True
1            1                            Angola      True
2            2                             Benin      True
3            3                          Botswana      True
4            4                      Burkina Faso      True
5            5                           Burundi      True
6            6                        Cabo Verde      True
7            7                          Cameroon      True
8            8          Central African Republic      True
9            9                              Chad      True
10          10                           Comoros      True
11          11                       Ivory Coast     False
12          12  Democratic Republic of the Congo     False
13          13                          Djibouti      True
14          14                             Egypt      True
15          15                           Eritrea      True
16          16                          Eswatini      True
17          17                          Ethiopia      True
18          18                             Gabon      True
19          19                        The Gambia     False
20          20                             Ghana      True
21          21                            Guinea      True
22          22                     Guinea-Bissau      True
23          23                             Kenya      True
24          24                           Lesotho      True
25          25                           Liberia      True
26          26                             Libya      True
27          27                        Madagascar      True
28          28                            Malawi      True
29          29                              Mali      True
30          30                        Mauritania      True
31          31                         Mauritius      True
32          32                           Morocco      True
33          33                        Mozambique      True
34          34                           Namibia      True
35          35                             Niger      True
36          36                           Nigeria      True
37          37                 Republic of Congo     False
38          38                            Rwanda      True
39          39             SÃ£o TomÃ© and PrÃ­ncipe     False
40          40                           Senegal      True
41          41                        Seychelles      True
42          42                      Sierra Leone      True
43          43                           Somalia      True
44          44                      South Africa      True
45          45                       South Sudan      True
46          46                             Sudan      True
47          47                          Tanzania      True
48          48                              Togo      True
49          49                           Tunisia      True
50          50                            Uganda      True
51          51                            Zambia      True
52          52                          Zimbabwe      True

In [14]:
# Google the country Codes of the five missing countries and check for spelling in county code list
missing_list_codes = ['CIV', 'GMB', 'COD', 'COG', 'STP' ]
# Create list of country names
missing_list_names = []
for i in missing_list_codes:
    missing_list_names.append(country_codes.iloc[country_codes.index[country_codes['location_code']==i]]['location_name_short_en'].tolist()[0])
missing_list_names

["CÃ´te d'Ivoire",
 'Gambia',
 'Congo (Democratic Republic of the)',
 'Congo',
 'Sao Tome and Principe']

In [15]:
# Identify index of missing countries in total Africa list
index_list = []
index_list.append(africa_total.index[africa_total['country']=='Ivory Coast'])
index_list.append(africa_total.index[africa_total['country']=='The Gambia'])
index_list.append(africa_total.index[africa_total['country']=='Democratic Republic of the Congo'])
index_list.append(africa_total.index[africa_total['country']=='Republic of Congo'])
index_list.append(africa_total.index[africa_total['country']=='SÃ£o TomÃ© and PrÃ­ncipe'])	
index_list

[Int64Index([11], dtype='int64'),
 Int64Index([19], dtype='int64'),
 Int64Index([12], dtype='int64'),
 Int64Index([37], dtype='int64'),
 Int64Index([39], dtype='int64')]

In [16]:
# Replace name in Africa List with name in country code list
for i, j in zip(missing_list_names, index_list):
    africa_total.at[j,'country'] = i

africa_total

    Unnamed: 0                             country  has_code
0            0                             Algeria      True
1            1                              Angola      True
2            2                               Benin      True
3            3                            Botswana      True
4            4                        Burkina Faso      True
5            5                             Burundi      True
6            6                          Cabo Verde      True
7            7                            Cameroon      True
8            8            Central African Republic      True
9            9                                Chad      True
10          10                             Comoros      True
11          11                       CÃ´te d'Ivoire     False
12          12  Congo (Democratic Republic of the)     False
13          13                            Djibouti      True
14          14                               Egypt      True
15          15                             Eritrea      True
16          16                            Eswatini      True
17          17                            Ethiopia      True
18          18                               Gabon      True
19          19                              Gambia     False
20          20                               Ghana      True
21          21                              Guinea      True
22          22                       Guinea-Bissau      True
23          23                               Kenya      True
24          24                             Lesotho      True
25          25                             Liberia      True
26          26                               Libya      True
27          27                          Madagascar      True
28          28                              Malawi      True
29          29                                Mali      True
30          30                          Mauritania      True
31          31                           Mauritius      True
32          32                             Morocco      True
33          33                          Mozambique      True
34          34                             Namibia      True
35          35                               Niger      True
36          36                             Nigeria      True
37          37                               Congo     False
38          38                              Rwanda      True
39          39               Sao Tome and Principe     False
40          40                             Senegal      True
41          41                          Seychelles      True
42          42                        Sierra Leone      True
43          43                             Somalia      True
44          44                        South Africa      True
45          45                         South Sudan      True
46          46                               Sudan      True
47          47                            Tanzania      True
48          48                                Togo      True
49          49                             Tunisia      True
50          50                              Uganda      True
51          51                              Zambia      True
52          52                            Zimbabwe      True

In [17]:
# Do the merging again
country_codes_africa = country_codes.merge(africa_total, left_on='location_name_short_en', right_on='country') 
country_codes_africa

,location_id,location_code,location_name_short_en,level,parent_id,Unnamed: 0,country,has_code
0,2,AGO,Angola,country,352.0,1,Angola,True
1,17,BDI,Burundi,country,352.0,5,Burundi,True
2,19,BEN,Benin,country,352.0,2,Benin,True
3,21,BFA,Burkina Faso,country,352.0,4,Burkina Faso,True
4,37,BWA,Botswana,country,352.0,3,Botswana,True
5,38,CAF,Central African Republic,country,352.0,8,Central African Republic,True
6,44,CIV,CÃ´te d'Ivoire,country,352.0,11,CÃ´te d'Ivoire,False
7,45,CMR,Cameroon,country,352.0,7,Cameroon,True
8,46,COD,Congo (Democratic Republic of the),country,352.0,12,Congo (Democratic Republic of the),False
9,47,COG,Congo,country,352.0,37,Congo,False
10,50,COM,Comoros,country,352.0,10,Comoros,True
11,51,CPV,Cabo Verde,country,352.0,6,Cabo Verde,True
12,62,DJI,Djibouti,country,352.0,13,Djibouti,True
13,66,DZA,Algeria,country,352.0,0,Algeria,True
14,68,EGY,Egypt,country,352.0,14,Egypt,True
15,69,ERI,Eritrea,country,352.0,15,Eritrea,True
16,73,ETH,Ethiopia,country,352.0,17,Ethiopia,True
17,80,GAB,Gabon,country,352.0,18,Gabon,True
18,83,GHA,Ghana,country,352.0,20,Ghana,True
19,85,GIN,Guinea,country,352.0,21,Guinea,True
20,87,GMB,Gambia,country,352.0,19,Gambia,False
21,88,GNB,Guinea-Bissau,country,352.0,22,Guinea-Bissau,True
22,116,KEN,Kenya,country,352.0,23,Kenya,True
23,125,LBR,Liberia,country,352.0,25,Liberia,True
24,126,LBY,Libya,country,352.0,26,Libya,True
25,129,LSO,Lesotho,country,352.0,24,Lesotho,True
26,134,MAR,Morocco,country,352.0,32,Morocco,True
27,136,MDG,Madagascar,country,352.0,27,Madagascar,True
28,141,MLI,Mali,country,352.0,29,Mali,True
29,147,MOZ,Mozambique,country,352.0,33,Mozambique,True
30,148,MRT,Mauritania,country,352.0,30,Mauritania,True
31,151,MUS,Mauritius,country,352.0,31,Mauritius,True
32,152,MWI,Malawi,country,352.0,28,Malawi,True
33,155,NAM,Namibia,country,352.0,34,Namibia,True
34,157,NER,Niger,country,352.0,35,Niger,True
35,159,NGA,Nigeria,country,352.0,36,Nigeria,True
36,187,RWA,Rwanda,country,352.0,38,Rwanda,True
37,190,SDN,Sudan,country,352.0,46,Sudan,True
38,191,SEN,Senegal,country,352.0,40,Senegal,True
39,196,SLE,Sierra Leone,country,352.0,42,Sierra Leone,True
40,199,SOM,Somalia,country,352.0,43,Somalia,True
41,202,SSD,South Sudan,country,352.0,45,South Sudan,True
42,203,STP,Sao Tome and Principe,country,352.0,39,Sao Tome and Principe,False
43,209,SWZ,Eswatini,country,352.0,16,Eswatini,True
44,211,SYC,Seychelles,country,352.0,41,Seychelles,True
45,214,TCD,Chad,country,352.0,9,Chad,True
46,215,TGO,Togo,country,352.0,48,Togo,True
47,223,TUN,Tunisia,country,352.0,49,Tunisia,True
48,226,TZA,Tanzania,country,352.0,47,Tanzania,True
49,227,UGA,Uganda,country,352.0,50,Uganda,True
50,246,ZAF,South Africa,country,352.0,44,South Africa,True
51,247,ZMB,Zambia,country,352.0,51,Zambia,True
52,248,ZWE,Zimbabwe,country,352.0,52,Zimbabwe,True

In [18]:
# Drop unnecessary columns
country_codes_africa = country_codes_africa.drop(['level','parent_id','Unnamed: 0','country', 'has_code'], axis = 1)
country_codes_africa

   location_id location_code              location_name_short_en
0            2           AGO                              Angola
1           17           BDI                             Burundi
2           19           BEN                               Benin
3           21           BFA                        Burkina Faso
4           37           BWA                            Botswana
5           38           CAF            Central African Republic
6           44           CIV                       CÃ´te d'Ivoire
7           45           CMR                            Cameroon
8           46           COD  Congo (Democratic Republic of the)
9           47           COG                               Congo
10          50           COM                             Comoros
11          51           CPV                          Cabo Verde
12          62           DJI                            Djibouti
13          66           DZA                             Algeria
14          68           EGY                               Egypt
15          69           ERI                             Eritrea
16          73           ETH                            Ethiopia
17          80           GAB                               Gabon
18          83           GHA                               Ghana
19          85           GIN                              Guinea
20          87           GMB                              Gambia
21          88           GNB                       Guinea-Bissau
22         116           KEN                               Kenya
23         125           LBR                             Liberia
24         126           LBY                               Libya
25         129           LSO                             Lesotho
26         134           MAR                             Morocco
27         136           MDG                          Madagascar
28         141           MLI                                Mali
29         147           MOZ                          Mozambique
30         148           MRT                          Mauritania
31         151           MUS                           Mauritius
32         152           MWI                              Malawi
33         155           NAM                             Namibia
34         157           NER                               Niger
35         159           NGA                             Nigeria
36         187           RWA                              Rwanda
37         190           SDN                               Sudan
38         191           SEN                             Senegal
39         196           SLE                        Sierra Leone
40         199           SOM                             Somalia
41         202           SSD                         South Sudan
42         203           STP               Sao Tome and Principe
43         209           SWZ                            Eswatini
44         211           SYC                          Seychelles
45         214           TCD                                Chad
46         215           TGO                                Togo
47         223           TUN                             Tunisia
48         226           TZA                            Tanzania
49         227           UGA                              Uganda
50         246           ZAF                        South Africa
51         247           ZMB                              Zambia
52         248           ZWE                            Zimbabwe

In [19]:
# Store in csv for tableau
country_codes_africa.to_csv('/Users/dorotheakirves/neuefische/capstone_project/data/country_codes_africa.csv')

# OWID Total - Population

In [20]:
# Read in owid total
owid_total = pd.read_csv('/Users/dorotheakirves/neuefische/capstone_project/data/raw-owid-energy-data.csv')

In [21]:
# Keep only Country code, country name, year and population
population = owid_total[["iso_code", "country", "year","population"]]

In [22]:
# Drop rows before 1990
population = population.drop(population[population.year < 1990].index)
population = population.reset_index()
population = population.drop(['index'], axis=1)

In [23]:
# Store population in csv for Tableau
population.to_csv('/Users/dorotheakirves/neuefische/capstone_project/data/population.csv')

In [24]:
country_codes = pd.read_csv('/Users/dorotheakirves/neuefische/capstone_project/data/location.csv')

# OWID Total - Total Primary Energy Consumption

In [25]:
# Read in owid total
owid_total = pd.read_csv('/Users/dorotheakirves/neuefische/capstone_project/data/raw-owid-energy-data.csv')

In [26]:
# Keep only Country code, country name, year and population
total_prim_en_con = owid_total[["iso_code", "country", "year","primary_energy_consumption"]]

In [27]:
# Drop rows before 1990
total_prim_en_con = total_prim_en_con.drop(total_prim_en_con[total_prim_en_con.year < 1990].index)
total_prim_en_con = total_prim_en_con.reset_index()
total_prim_en_con = total_prim_en_con.drop(['index'], axis=1)

In [28]:
# Store population in csv for Tableau
total_prim_en_con.to_csv('/Users/dorotheakirves/neuefische/capstone_project/data/total_primary_energy_consumption.csv')

# OWID Total - Energy consumption

In [29]:
# Keep only Country code, country name, year and and consumption by source from owid_total
prim_en_cons = owid_total[['iso_code', 'country', 'year', 'nuclear_consumption', 'coal_consumption', 'hydro_consumption', 'oil_consumption', 'gas_consumption', 'wind_consumption', 'solar_consumption', 'other_renewable_consumption', 'biofuel_consumption', 'low_carbon_consumption', 'renewables_consumption']]

In [30]:
# Drop rows before 1990
prim_en_cons = prim_en_cons.drop(prim_en_cons[prim_en_cons.year < 1990].index)
prim_en_cons = prim_en_cons.reset_index()
prim_en_cons = prim_en_cons.drop(['index'], axis=1)

In [31]:
# Store energy consumption in csv for Tableau
prim_en_cons.to_csv('/Users/dorotheakirves/neuefische/capstone_project/data/energy-consumption-by-source-and-region.csv')

# Add Data for Africa

In [32]:
# read in only country codes only Africa
country_codes_africa = pd.read_csv('/Users/dorotheakirves/neuefische/capstone_project/data/country_codes_africa.csv')

# Extract country names as list
missing_africa = country_codes_africa['location_name_short_en'].tolist()

In [33]:
# Remove countries with existing data, create list with only countries with missing data
existing_africa = ['Algeria','Egypt','South Africa', 'Morocco']
for i in existing_africa:
    missing_africa.remove(i)
#sort alphabetically
missing_africa.sort()
missing_africa

['Angola',
 'Benin',
 'Botswana',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cameroon',
 'Central African Republic',
 'Chad',
 'Comoros',
 'Congo',
 'Congo (Democratic Republic of the)',
 "CÃ´te d'Ivoire",
 'Djibouti',
 'Eritrea',
 'Eswatini',
 'Ethiopia',
 'Gabon',
 'Gambia',
 'Ghana',
 'Guinea',
 'Guinea-Bissau',
 'Kenya',
 'Lesotho',
 'Liberia',
 'Libya',
 'Madagascar',
 'Malawi',
 'Mali',
 'Mauritania',
 'Mauritius',
 'Mozambique',
 'Namibia',
 'Niger',
 'Nigeria',
 'Rwanda',
 'Sao Tome and Principe',
 'Senegal',
 'Seychelles',
 'Sierra Leone',
 'Somalia',
 'South Sudan',
 'Sudan',
 'Tanzania',
 'Togo',
 'Tunisia',
 'Uganda',
 'Zambia',
 'Zimbabwe']

In [34]:
'South Africa' in missing_africa

False

In [35]:
len(missing_africa)

49

In [36]:
# read in data for every missing country, adding contry name column
path = r'/Users/dorotheakirves/neuefische/Capstone/africa' # use your path
all_files = glob.glob(path + "/*.csv")
all_files.sort()

li = []

for filename, i in zip(all_files, missing_africa):
    df = pd.read_csv(filename, index_col=False, header=0, sep=';')
    df['country'] = i
    li.append(df)

africa_frame = pd.concat(li, axis=0, ignore_index=True)

In [37]:
# Check if it worked until the end
africa_frame.loc[(africa_frame["country"] == "Zimbabwe")]
#africa_frame.tail()

,Unnamed: 0,Oil,Coal,Gas,Hydroelectricity,Nuclear,Biomass and Waste,Wind,Fuel Ethanol,"Solar, Tide, Wave, Fuel Cell",Geothermal,Biodiesel,country
1720,1980-01-01 00:00:00,"7,6266051","19,449868951",0,"11,331428825",0,0,0,"0,20447988115",0,0,NaN,Zimbabwe
1721,1981-01-01 00:00:00,"8,7999292836","17,921975375",0,"11,634285655",0,0,0,"0,20447988115",0,0,NaN,Zimbabwe
1722,1982-01-01 00:00:00,"7,0399434734","18,573684522",0,"10,1942856877",0,0,0,"0,20447988115",0,0,NaN,Zimbabwe
1723,1983-01-01 00:00:00,"9,0932604458","18,211624014",0,"10,557142967",0,0,0,"0,20447988115",0,0,NaN,Zimbabwe
1724,1984-01-01 00:00:00,"8,7999292836","18,682301744",0,"9,7771430574",0,0,0,"0,20447988115",0,0,NaN,Zimbabwe
1725,1985-01-01 00:00:00,"9,3865910265","21,911878312",0,"8,7571427462",0,0,0,"0,20447988115",0,0,NaN,Zimbabwe
1726,1986-01-01 00:00:00,"9,7155583695","25,880056409",0,"8,9200001948",0,0,0,"0,20447988115",0,0,NaN,Zimbabwe
1727,1987-01-01 00:00:00,"10,5850326374","35,032938515",0,"7,0857141525",0,0,0,"0,20447988115",0,0,NaN,Zimbabwe
1728,1988-01-01 00:00:00,"10,5687666868","33,700556869",0,"7,5971427047",0,0,0,"0,20447988115",0,0,NaN,Zimbabwe
1729,1989-01-01 00:00:00,"11,6063514417","34,482605752",0,"9,6257145261",0,0,0,"0,20447988115",0,0,NaN,Zimbabwe
1730,1990-01-01 00:00:00,"12,357257627","35,547063599",0,"10,7199997178",0,0,0,"0,20447988115",0,0,NaN,Zimbabwe
1731,1991-01-01 00:00:00,"14,305801325","36,024982167",0,"10,0771428616",0,0,0,"0,20447988115",0,0,NaN,Zimbabwe
1732,1992-01-01 00:00:00,"12,617962685","34,381228205",0,"8,2285713414",0,0,0,"0,20447988115",0,0,NaN,Zimbabwe
1733,1993-01-01 00:00:00,"13,414574654","34,960526646",0,"5,0457142279",0,0,0,0,0,0,NaN,Zimbabwe
1734,1994-01-01 00:00:00,"13,765418027","33,534008291",0,"4,6514285018",0,0,0,0,0,0,NaN,Zimbabwe
1735,1995-01-01 00:00:00,"14,7047394","32,179904131",0,"5,1828572813",0,0,0,0,0,0,NaN,Zimbabwe
1736,1996-01-01 00:00:00,"16,820556225","30,847523648",0,"6,1171432132",0,0,0,0,0,0,NaN,Zimbabwe
1737,1997-01-01 00:00:00,"18,288659971","28,190000031",0,"6,0057144387",0,0,0,0,0,0,NaN,Zimbabwe
1738,1998-01-01 00:00:00,"18,347803173","28,899639371",0,"5,31714296",0,0,0,0,0,0,NaN,Zimbabwe
1739,1999-01-01 00:00:00,"18,347803173","33,381944878",0,"8,3428567928",0,0,0,0,0,0,NaN,Zimbabwe
1740,2000-01-01 00:00:00,"13,302250951","32,129214776",0,"9,219999999",0,0,0,0,0,0,0.0,Zimbabwe
1741,2001-01-01 00:00:00,"13,126739132","30,478221139",0,"8,4799999625",0,0,0,0,0,0,0.0,Zimbabwe
1742,2002-01-01 00:00:00,"11,738923091","29,145839493",0,"10,8171430144",0,0,0,0,0,0,0.0,Zimbabwe
1743,2003-01-01 00:00:00,"9,5368272502","26,14073937",0,"15,157141748",0,0,0,0,0,0,0.0,Zimbabwe
1744,2004-01-01 00:00:00,"7,9685478014","23,990102325",0,"15,617143138",0,0,0,0,0,0,0.0,Zimbabwe
1745,2005-01-01 00:00:00,"8,6504340072","26,133499695",0,"13,902856715",0,0,0,0,"0,0028571427978",0,0.0,Zimbabwe
1746,2006-01-01 00:00:00,"8,315718653","24,352165159",0,"15,020000788",0,0,0,0,"0,0028571427978",0,0.0,Zimbabwe
1747,2007-01-01 00:00:00,"8,1722015455","24,417333864",0,"15,225713391",0,0,0,0,"0,0057142855956",0,0.0,Zimbabwe
1748,2008-01-01 00:00:00,"6,9987505949","17,907493699",0,"16,145715008",0,"0,21944444638",0,0,"0,0057142855956",0,0.0,Zimbabwe
1749,2009-01-01 00:00:00,"6,9008773995","18,609889875",0,"15,437143302",0,"0,15833333208",0,0,"0,0057142855956",0,0.0,Zimbabwe
1750,2010-01-01 00:00:00,"7,6861345343","22,239904788",0,"16,402856634",0,"0,26111110782",0,0,"0,0085714287423",0,0.0,Zimbabwe
1751,2011-01-01 00:00:00,"13,996392153","22,176906241",0,"14,711428976",0,"0,36388890682",0,0,"0,0114285711912",0,0.0,Zimbabwe
1752,2012-01-01 00:00:00,"15,85828421","24,171133742",0,"15,245713502",0,"0,46666667093",0,0,"0,014285713989",0,0.0,Zimbabwe
1753,2013-01-01 00:00:00,"17,611164788","23,844222583",0,"14,131429246",0,"0,46111108971",0,"0,013137832989","0,020000000515",0,0.0,Zimbabwe
1754,2014-01-01 00:00:00,"16,027808905","24,041518555",0,"15,362856677",0,"0,4000000103",0,"0,23224793664","0,020000000515",0,0.0,Zimbabwe
1755,2015-01-01 00:00:00,"15,790840677","25,102890963",0,"14,114286626",0,"0,3583333256",0,"0,24675918773","0,028571429141",0,0.0,Zimbabwe
1756,2016-01-01 00:00:00,"16,148970245","22,252564043",0,"8,4485715157",0,"0,33611110539",0,"0,27910686973","0,034285714504",0,0.0,Zimbabwe

In [38]:
# Deal with year
africa_frame['year']  = africa_frame["Unnamed: 0"].str.slice(stop=4)

In [39]:
africa_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1757 entries, 0 to 1756
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    1757 non-null   object
 1   Oil                           1757 non-null   object
 2   Coal                          1757 non-null   object
 3   Gas                           1757 non-null   object
 4   Hydroelectricity              1757 non-null   object
 5   Nuclear                       1757 non-null   int64
 6   Biomass and Waste             1757 non-null   object
 7   Wind                          1757 non-null   object
 8   Fuel Ethanol                  1741 non-null   object
 9   Solar, Tide, Wave, Fuel Cell  1757 non-null   object
 10  Geothermal                    1757 non-null   object
 11  Biodiesel                     816 non-null    object
 12  country                       1757 non-null   object
 13  year                          1757 non-null   object
dtypes: int64(1), object(13)
memory usage: 192.3+ KB

In [40]:
# Convert datatypes
columns = africa_frame.columns.tolist()
columns.remove('country')
columns.remove('Unnamed: 0')
columns.remove('Nuclear')

for i in columns:
    africa_frame[i] = africa_frame[i].str.replace(',','.')

for i in columns:
    africa_frame[i] = pd.to_numeric(africa_frame[i], errors='coerce')

africa_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1757 entries, 0 to 1756
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    1757 non-null   object
 1   Oil                           1757 non-null   float64
 2   Coal                          767 non-null    float64
 3   Gas                           444 non-null    float64
 4   Hydroelectricity              1396 non-null   float64
 5   Nuclear                       1757 non-null   int64
 6   Biomass and Waste             629 non-null    float64
 7   Wind                          494 non-null    float64
 8   Fuel Ethanol                  148 non-null    float64
 9   Solar, Tide, Wave, Fuel Cell  1397 non-null   float64
 10  Geothermal                    74 non-null     float64
 11  Biodiesel                     34 non-null     float64
 12  country                       1757 non-null   object
 13  year                          1757 non-null   int64
dtypes: float64(10), int64(2), object(2)
memory usage: 192.3+ KB

In [41]:
africa_frame.describe()

,Oil,Coal,Gas,Hydroelectricity,Nuclear,Biomass and Waste,Wind,Fuel Ethanol,"Solar, Tide, Wave, Fuel Cell",Geothermal,Biodiesel,year
count,1757.000000,767.000000,444.000000,1396.000000,1757.0,629.000000,494.000000,148.000000,1397.000000,74.000000,34.000000,1757.000000
mean,14.841287,2.039173,15.906669,4.561372,0.0,0.159294,0.037006,0.035738,0.003974,1.299946,0.007035,1998.214001
std,29.875289,5.860572,30.140261,7.721843,0.0,0.376574,0.205390,0.067838,0.013935,2.594127,0.012990,10.663884
min,0.100933,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1980.000000
25%,2.212212,0.000000,0.000000,0.194286,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1989.000000
50%,4.923534,0.267207,1.518420,0.947143,0.0,0.000000,0.000000,0.000000,0.000000,0.071429,0.000000,1998.000000
75%,13.305400,1.040849,16.590947,4.945714,0.0,0.058333,0.000000,0.060938,0.000000,1.111429,0.009966,2007.000000
max,289.234448,36.024982,204.997521,48.671428,0.0,1.786111,2.342857,0.279107,0.180000,12.800000,0.044849,2016.000000

In [42]:
africa_frame = africa_frame.rename(columns={'Nuclear': 'nuclear_consumption','Coal': 'coal_consumption', 'Hydroelectricity': 'hydro_consumption','Oil': 'oil_consumption', 'Gas': 'gas_consumption', 'Wind': 'wind_consumption', 'location_code':'iso_code'})

In [44]:
africa_frame = africa_frame.fillna(0)

In [45]:
africa_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1757 entries, 0 to 1756
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    1757 non-null   object
 1   oil_consumption               1757 non-null   float64
 2   coal_consumption              1757 non-null   float64
 3   gas_consumption               1757 non-null   float64
 4   hydro_consumption             1757 non-null   float64
 5   nuclear_consumption           1757 non-null   int64
 6   Biomass and Waste             1757 non-null   float64
 7   wind_consumption              1757 non-null   float64
 8   Fuel Ethanol                  1757 non-null   float64
 9   Solar, Tide, Wave, Fuel Cell  1757 non-null   float64
 10  Geothermal                    1757 non-null   float64
 11  Biodiesel                     1757 non-null   float64
 12  country                       1757 non-null   object
 13  year                          1757 non-null   int64
dtypes: float64(10), int64(2), object(2)
memory usage: 192.3+ KB

In [47]:
# Create/calculate missing columns for concating later
africa_frame['biofuel_consumption'] = africa_frame['Fuel Ethanol'] + africa_frame['Biodiesel'] + africa_frame['Biomass and Waste']
africa_frame['solar_consumption'] = np.nan
africa_frame['other_renewable_consumption'] = africa_frame['Solar, Tide, Wave, Fuel Cell']+ africa_frame['Geothermal']
africa_frame['renewables_consumption'] = africa_frame['other_renewable_consumption'] + africa_frame['hydro_consumption'] + africa_frame['wind_consumption']+ africa_frame['biofuel_consumption']
africa_frame['low_carbon_consumption'] = africa_frame['renewables_consumption'] + africa_frame['nuclear_consumption']

In [50]:
africa_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1757 entries, 0 to 1756
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0_x                  1757 non-null   object
 1   oil_consumption               1757 non-null   float64
 2   coal_consumption              1757 non-null   float64
 3   gas_consumption               1757 non-null   float64
 4   hydro_consumption             1757 non-null   float64
 5   nuclear_consumption           1757 non-null   int64
 6   Biomass and Waste             1757 non-null   float64
 7   wind_consumption              1757 non-null   float64
 8   Fuel Ethanol                  1757 non-null   float64
 9   Solar, Tide, Wave, Fuel Cell  1757 non-null   float64
 10  Geothermal                    1757 non-null   float64
 11  Biodiesel                     1757 non-null   float64
 12  country                       1757 non-null   object
 13  year                          1757 non-null   int64
 14  biofuel_consumption           1757 non-null   float64
 15  solar_consumption             0 non-null      float64
 16  other_renewable_consumption   1757 non-null   float64
 17  renewables_consumption        1757 non-null   float64
 18  low_carbon_consumption        1757 non-null   float64
 19  Unnamed: 0_y                  1757 non-null   int64
 20  location_id                   1757 non-null   int64
 21  location_code                 1757 non-null   object
 22  location_name_short_en        1757 non-null   object
dtypes: float64(15), int64(4), object(4)
memory usage: 329.4+ KB

In [49]:
# Add ISO codes
africa_frame = africa_frame.merge(country_codes_africa, left_on='country', right_on='location_name_short_en')
africa_frame = africa_frame.rename(columns={'location_code':'iso_code'})

In [52]:
# Take only columns which match with energy df
africa_frame = africa_frame[prim_en_cons.columns]

In [53]:
africa_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1757 entries, 0 to 1756
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   iso_code                     1757 non-null   object
 1   country                      1757 non-null   object
 2   year                         1757 non-null   int64
 3   nuclear_consumption          1757 non-null   int64
 4   coal_consumption             1757 non-null   float64
 5   hydro_consumption            1757 non-null   float64
 6   oil_consumption              1757 non-null   float64
 7   gas_consumption              1757 non-null   float64
 8   wind_consumption             1757 non-null   float64
 9   solar_consumption            0 non-null      float64
 10  other_renewable_consumption  1757 non-null   float64
 11  biofuel_consumption          1757 non-null   float64
 12  low_carbon_consumption       1757 non-null   float64
 13  renewables_consumption       1757 non-null   float64
dtypes: float64(10), int64(2), object(2)
memory usage: 205.9+ KB

In [54]:
# Drop rows before 1990
africa_frame = africa_frame.drop(africa_frame[africa_frame.year < 1990].index)
africa_frame = africa_frame.reset_index()
africa_frame = africa_frame.drop(['index'], axis=1)

In [55]:
africa_frame.head()

,iso_code,country,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,solar_consumption,other_renewable_consumption,biofuel_consumption,low_carbon_consumption,renewables_consumption
0,AGO,Angola,1990,0,0.0,2.051429,15.325936,5.834961,0.0,NaN,0.0,0.0,2.051429,2.051429
1,AGO,Angola,1991,0,0.0,2.042857,16.144753,6.142351,0.0,NaN,0.0,0.0,2.042857,2.042857
2,AGO,Angola,1992,0,0.0,2.377143,16.129702,6.182138,0.0,NaN,0.0,0.0,2.377143,2.377143
3,AGO,Angola,1993,0,0.0,2.517143,15.644819,6.073679,0.0,NaN,0.0,0.0,2.517143,2.517143
4,AGO,Angola,1994,0,0.0,2.531429,15.469970,5.638678,0.0,NaN,0.0,0.0,2.531429,2.531429

In [56]:
missing_africa

['Angola',
 'Benin',
 'Botswana',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cameroon',
 'Central African Republic',
 'Chad',
 'Comoros',
 'Congo',
 'Congo (Democratic Republic of the)',
 "CÃ´te d'Ivoire",
 'Djibouti',
 'Eritrea',
 'Eswatini',
 'Ethiopia',
 'Gabon',
 'Gambia',
 'Ghana',
 'Guinea',
 'Guinea-Bissau',
 'Kenya',
 'Lesotho',
 'Liberia',
 'Libya',
 'Madagascar',
 'Malawi',
 'Mali',
 'Mauritania',
 'Mauritius',
 'Mozambique',
 'Namibia',
 'Niger',
 'Nigeria',
 'Rwanda',
 'Sao Tome and Principe',
 'Senegal',
 'Seychelles',
 'Sierra Leone',
 'Somalia',
 'South Sudan',
 'Sudan',
 'Tanzania',
 'Togo',
 'Tunisia',
 'Uganda',
 'Zambia',
 'Zimbabwe']

In [57]:
#Create Dataframe without Africa
frame_without_africa = prim_en_cons
for i in missing_africa:
    frame_without_africa.drop(frame_without_africa.loc[frame_without_africa['country']==i].index, inplace=True)
frame_without_africa.head()

,iso_code,country,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,solar_consumption,other_renewable_consumption,biofuel_consumption,low_carbon_consumption,renewables_consumption
0,AFG,Afghanistan,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
# Add africa frame
prim_en_cons_with_africa = africa_frame.append(frame_without_africa, ignore_index=True)

In [59]:
prim_en_cons_with_africa.to_csv('/Users/dorotheakirves/neuefische/capstone_project/data/energy-consumption-by-source-and-region.csv')

In [60]:
prim_en_cons_with_africa.loc[(prim_en_cons_with_africa["country"] == "Angola")]

,iso_code,country,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,solar_consumption,other_renewable_consumption,biofuel_consumption,low_carbon_consumption,renewables_consumption
0,AGO,Angola,1990,0.0,0.0,2.051429,15.325936,5.834961,0.0,NaN,0.000000,0.000000,2.051429,2.051429
1,AGO,Angola,1991,0.0,0.0,2.042857,16.144753,6.142351,0.0,NaN,0.000000,0.000000,2.042857,2.042857
2,AGO,Angola,1992,0.0,0.0,2.377143,16.129702,6.182138,0.0,NaN,0.000000,0.000000,2.377143,2.377143
3,AGO,Angola,1993,0.0,0.0,2.517143,15.644819,6.073679,0.0,NaN,0.000000,0.000000,2.517143,2.517143
4,AGO,Angola,1994,0.0,0.0,2.531429,15.469970,5.638678,0.0,NaN,0.000000,0.000000,2.531429,2.531429
5,AGO,Angola,1995,0.0,0.0,2.545714,16.749385,6.073679,0.0,NaN,0.000000,0.000000,2.545714,2.545714
6,AGO,Angola,1996,0.0,0.0,2.617143,15.673962,6.073679,0.0,NaN,0.000000,0.000000,2.617143,2.617143
7,AGO,Angola,1997,0.0,0.0,2.474286,18.772116,6.182138,0.0,NaN,0.000000,0.000000,2.474286,2.474286
8,AGO,Angola,1998,0.0,0.0,2.997143,15.366332,6.290596,0.0,NaN,0.000000,0.000000,2.997143,2.997143
9,AGO,Angola,1999,0.0,0.0,2.528572,18.947092,6.073679,0.0,NaN,0.000000,0.000000,2.528572,2.528572
10,AGO,Angola,2000,0.0,0.0,2.580000,23.590044,6.182138,0.0,NaN,0.000000,0.000000,2.580000,2.580000
11,AGO,Angola,2001,0.0,0.0,2.877143,26.461731,5.748304,0.0,NaN,0.000000,0.000000,2.877143,2.877143
12,AGO,Angola,2002,0.0,0.0,3.234286,27.473922,6.724430,0.0,NaN,0.000000,0.000000,3.234286,3.234286
13,AGO,Angola,2003,0.0,0.0,3.511429,30.999966,7.049806,0.0,NaN,0.000000,0.000000,3.511429,3.511429
14,AGO,Angola,2004,0.0,0.0,4.951429,32.889323,8.134392,0.0,NaN,0.000000,0.000000,4.951429,4.951429
15,AGO,Angola,2005,0.0,0.0,6.277143,25.768664,7.049806,0.0,NaN,0.000000,0.000000,6.277143,6.277143
16,AGO,Angola,2006,0.0,0.0,7.537143,34.454231,7.375181,0.0,NaN,0.000000,0.000000,7.537143,7.537143
17,AGO,Angola,2007,0.0,0.0,7.062857,40.734059,9.002060,0.0,NaN,0.000000,0.000000,7.062857,7.062857
18,AGO,Angola,2008,0.0,0.0,8.865714,50.349697,7.375181,0.0,NaN,0.000000,0.000000,8.865714,8.865714
19,AGO,Angola,2009,0.0,0.0,8.751429,59.636414,7.483641,0.0,NaN,0.000000,0.000000,8.751429,8.751429
20,AGO,Angola,2010,0.0,0.0,10.474286,63.518656,7.960858,0.0,NaN,0.028571,0.000000,10.502857,10.502857
21,AGO,Angola,2011,0.0,0.0,11.334286,66.933851,8.156083,0.0,NaN,0.031429,0.000000,11.365714,11.365714
22,AGO,Angola,2012,0.0,0.0,10.668571,77.713520,8.242851,0.0,NaN,0.040000,0.000000,10.708571,10.708571
23,AGO,Angola,2013,0.0,0.0,13.482857,84.336206,4.425109,0.0,NaN,0.042857,0.000000,13.525714,13.525714
24,AGO,Angola,2014,0.0,0.0,14.260000,92.690549,2.505393,0.0,NaN,0.048571,0.100000,14.408571,14.408571
25,AGO,Angola,2015,0.0,0.0,14.685715,90.041963,8.383846,0.0,NaN,0.051429,0.116667,14.853810,14.853810
26,AGO,Angola,2016,0.0,0.0,16.448572,78.361353,8.709220,0.0,NaN,0.051429,0.430556,16.930556,16.930556