In [3]:
import pandas as pd
import zipfile as zip
import matplotlib.pyplot as plt 
import seaborn as sn
import numpy as np

# Read in owid total
owid_total = pd.read_csv('/Users/dorotheakirves/neuefische/capstone_project/data/raw-owid-energy-data.csv')

# GDP

In [51]:
# Read in GDP Data
gdp_ppp = pd.read_csv("/Users/dorotheakirves/neuefische/capstone_project/data/raw-gdp-ppp-current-international-dollar.csv", skiprows=4)

In [52]:
# Keep only country code, country name and GDP
gdp_ppp = gdp_ppp.drop(['Indicator Code', 'Indicator Name'], axis=1)
gdp_ppp.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.442856e+09,3.799467e+09,3.816822e+09,3.893071e+09,3.941354e+09,4.098240e+09,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.772679e+12,1.893539e+12,2.025402e+12,2.098286e+12,2.212573e+12,2.319151e+12,2.438518e+12,2.536280e+12,2.495345e+12,NaN
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.966700e+10,6.503984e+10,6.905834e+10,7.183170e+10,7.009796e+10,7.471192e+10,7.741557e+10,8.187980e+10,8.091834e+10,NaN
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.396677e+12,1.526772e+12,1.645122e+12,1.662297e+12,1.678674e+12,1.744087e+12,1.841811e+12,1.937451e+12,1.946297e+12,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.861242e+11,1.998656e+11,2.203648e+11,2.046036e+11,2.048747e+11,2.179873e+11,2.187486e+11,2.212628e+11,2.118373e+11,NaN

In [54]:
# Years in rows
gdp_ppp = gdp_ppp.melt(id_vars=["Country Name", "Country Code"], 
        var_name="Year", 
        value_name="GDP_PPP")
gdp_ppp.head()

                  Country Name Country Code  Year  GDP_PPP
0                        Aruba          ABW  1960      NaN
1  Africa Eastern and Southern          AFE  1960      NaN
2                  Afghanistan          AFG  1960      NaN
3   Africa Western and Central          AFW  1960      NaN
4                       Angola          AGO  1960      NaN

In [59]:
# Convert year into numeric, drop rows before 1990, reset index
gdp_ppp["Year"] = pd.to_numeric(gdp_ppp["Year"], errors='coerce')
gdp_ppp = gdp_ppp.drop(gdp_ppp[gdp_ppp.Year < 1990].index)
gdp_ppp = gdp_ppp.reset_index()
gdp_ppp = gdp_ppp.drop(['index'], axis=1)

In [60]:
gdp_ppp.head()

                  Country Name Country Code    Year       GDP_PPP
0                        Aruba          ABW  1990.0  1.447709e+09
1  Africa Eastern and Southern          AFE  1990.0  5.653495e+11
2                  Afghanistan          AFG  1990.0           NaN
3   Africa Western and Central          AFW  1990.0  3.544564e+11
4                       Angola          AGO  1990.0  3.885349e+10

In [14]:
# Store in csv again for tableau
gdp_ppp.to_csv('/Users/dorotheakirves/neuefische/capstone_project/data/gdp-ppp-current-international-dollar-clean.csv')

# Country Codes

In [6]:
# Read in country codes in Stata
country_codes = pd.read_stata('/Users/dorotheakirves/neuefische/capstone_project/data/location.dta')
country_codes.head()

  location_id location_code location_name_short_en    level  parent_id
0           0           ABW                  Aruba  country      356.0
1           1           AFG            Afghanistan  country      353.0
2           2           AGO                 Angola  country      352.0
3           3           AIA               Anguilla  country      356.0
4           4           ALB                Albania  country      355.0

In [7]:
# Store country codes in csv for Tableau
country_codes.to_csv('/Users/dorotheakirves/neuefische/capstone_project/data/location.csv')

In [8]:
# Create List for only African Countries
# Read in List of African Countries
africa_total = pd.read_csv('/Users/dorotheakirves/neuefische/capstone_project/data/countries_in_africa.csv')

In [9]:
# Merge country code list with only Africa list
country_codes_africa = country_codes.merge(africa_total, left_on='location_name_short_en', right_on='country') 
country_codes_africa

,location_id,location_code,location_name_short_en,level,parent_id,Unnamed: 0,country
0,2,AGO,Angola,country,352.0,1,Angola
1,17,BDI,Burundi,country,352.0,5,Burundi
2,19,BEN,Benin,country,352.0,2,Benin
3,21,BFA,Burkina Faso,country,352.0,4,Burkina Faso
4,37,BWA,Botswana,country,352.0,3,Botswana
5,38,CAF,Central African Republic,country,352.0,8,Central African Republic
6,45,CMR,Cameroon,country,352.0,7,Cameroon
7,50,COM,Comoros,country,352.0,10,Comoros
8,51,CPV,Cabo Verde,country,352.0,6,Cabo Verde
9,62,DJI,Djibouti,country,352.0,13,Djibouti
10,66,DZA,Algeria,country,352.0,0,Algeria
11,68,EGY,Egypt,country,352.0,14,Egypt
12,69,ERI,Eritrea,country,352.0,15,Eritrea
13,73,ETH,Ethiopia,country,352.0,17,Ethiopia
14,80,GAB,Gabon,country,352.0,18,Gabon
15,83,GHA,Ghana,country,352.0,20,Ghana
16,85,GIN,Guinea,country,352.0,21,Guinea
17,88,GNB,Guinea-Bissau,country,352.0,22,Guinea-Bissau
18,116,KEN,Kenya,country,352.0,23,Kenya
19,125,LBR,Liberia,country,352.0,25,Liberia
20,126,LBY,Libya,country,352.0,26,Libya
21,129,LSO,Lesotho,country,352.0,24,Lesotho
22,134,MAR,Morocco,country,352.0,32,Morocco
23,136,MDG,Madagascar,country,352.0,27,Madagascar
24,141,MLI,Mali,country,352.0,29,Mali
25,147,MOZ,Mozambique,country,352.0,33,Mozambique
26,148,MRT,Mauritania,country,352.0,30,Mauritania
27,151,MUS,Mauritius,country,352.0,31,Mauritius
28,152,MWI,Malawi,country,352.0,28,Malawi
29,155,NAM,Namibia,country,352.0,34,Namibia
30,157,NER,Niger,country,352.0,35,Niger
31,159,NGA,Nigeria,country,352.0,36,Nigeria
32,187,RWA,Rwanda,country,352.0,38,Rwanda
33,190,SDN,Sudan,country,352.0,46,Sudan
34,191,SEN,Senegal,country,352.0,40,Senegal
35,196,SLE,Sierra Leone,country,352.0,42,Sierra Leone
36,199,SOM,Somalia,country,352.0,43,Somalia
37,202,SSD,South Sudan,country,352.0,45,South Sudan
38,209,SWZ,Eswatini,country,352.0,16,Eswatini
39,211,SYC,Seychelles,country,352.0,41,Seychelles
40,214,TCD,Chad,country,352.0,9,Chad
41,215,TGO,Togo,country,352.0,48,Togo
42,223,TUN,Tunisia,country,352.0,49,Tunisia
43,226,TZA,Tanzania,country,352.0,47,Tanzania
44,227,UGA,Uganda,country,352.0,50,Uganda
45,246,ZAF,South Africa,country,352.0,44,South Africa
46,247,ZMB,Zambia,country,352.0,51,Zambia
47,248,ZWE,Zimbabwe,country,352.0,52,Zimbabwe

In [10]:
# Identify missing countries
africa_total['has_code'] = africa_total['country'].isin(country_codes_africa['country'])
africa_total

    Unnamed: 0                           country  has_code
0            0                           Algeria      True
1            1                            Angola      True
2            2                             Benin      True
3            3                          Botswana      True
4            4                      Burkina Faso      True
5            5                           Burundi      True
6            6                        Cabo Verde      True
7            7                          Cameroon      True
8            8          Central African Republic      True
9            9                              Chad      True
10          10                           Comoros      True
11          11                       Ivory Coast     False
12          12  Democratic Republic of the Congo     False
13          13                          Djibouti      True
14          14                             Egypt      True
15          15                           Eritrea      True
16          16                          Eswatini      True
17          17                          Ethiopia      True
18          18                             Gabon      True
19          19                        The Gambia     False
20          20                             Ghana      True
21          21                            Guinea      True
22          22                     Guinea-Bissau      True
23          23                             Kenya      True
24          24                           Lesotho      True
25          25                           Liberia      True
26          26                             Libya      True
27          27                        Madagascar      True
28          28                            Malawi      True
29          29                              Mali      True
30          30                        Mauritania      True
31          31                         Mauritius      True
32          32                           Morocco      True
33          33                        Mozambique      True
34          34                           Namibia      True
35          35                             Niger      True
36          36                           Nigeria      True
37          37                 Republic of Congo     False
38          38                            Rwanda      True
39          39             SÃ£o TomÃ© and PrÃ­ncipe     False
40          40                           Senegal      True
41          41                        Seychelles      True
42          42                      Sierra Leone      True
43          43                           Somalia      True
44          44                      South Africa      True
45          45                       South Sudan      True
46          46                             Sudan      True
47          47                          Tanzania      True
48          48                              Togo      True
49          49                           Tunisia      True
50          50                            Uganda      True
51          51                            Zambia      True
52          52                          Zimbabwe      True

In [40]:
# Google the country Codes of the four missing countries and check for spelling in county code list
country_codes.iloc[country_codes.index[country_codes['location_code']=='CIV']]['location_name_short_en']
#country_codes.iloc[country_codes.index[country_codes['location_code']=='GMB']]['location_name_short_en']
#country_codes.iloc[country_codes.index[country_codes['location_code']=='COD']]['location_name_short_en']
#country_codes.iloc[country_codes.index[country_codes['location_code']=='STP']]['location_name_short_en']

203    Sao Tome and Principe
Name: location_name_short_en, dtype: object

In [41]:
# Identify index of missing countries in total Africa list
africa_total.index[africa_total['country']=='SÃ£o TomÃ© and PrÃ­ncipe']

Int64Index([39], dtype='int64')

In [42]:
# Replace name in Africa List with name in country code list
africa_total.at[39,'country'] = "Sao Tome and Principe"

In [ ]:
# Do the merging again
country_codes_africa = country_codes.merge(africa_total, left_on='location_name_short_en', right_on='country') 
country_codes_africa

In [46]:
# Drop unnecessary columns
country_codes_africa = country_codes_africa.drop(['level','parent_id','Unnamed: 0','country', 'has_code'], axis = 1)
country_codes_africa

   location_id location_code              location_name_short_en
0            2           AGO                              Angola
1           17           BDI                             Burundi
2           19           BEN                               Benin
3           21           BFA                        Burkina Faso
4           37           BWA                            Botswana
5           38           CAF            Central African Republic
6           44           CIV                       CÃ´te d'Ivoire
7           45           CMR                            Cameroon
8           46           COD  Congo (Democratic Republic of the)
9           50           COM                             Comoros
10          51           CPV                          Cabo Verde
11          62           DJI                            Djibouti
12          66           DZA                             Algeria
13          68           EGY                               Egypt
14          69           ERI                             Eritrea
15          73           ETH                            Ethiopia
16          80           GAB                               Gabon
17          83           GHA                               Ghana
18          85           GIN                              Guinea
19          87           GMB                              Gambia
20          88           GNB                       Guinea-Bissau
21         116           KEN                               Kenya
22         125           LBR                             Liberia
23         126           LBY                               Libya
24         129           LSO                             Lesotho
25         134           MAR                             Morocco
26         136           MDG                          Madagascar
27         141           MLI                                Mali
28         147           MOZ                          Mozambique
29         148           MRT                          Mauritania
30         151           MUS                           Mauritius
31         152           MWI                              Malawi
32         155           NAM                             Namibia
33         157           NER                               Niger
34         159           NGA                             Nigeria
35         187           RWA                              Rwanda
36         190           SDN                               Sudan
37         191           SEN                             Senegal
38         196           SLE                        Sierra Leone
39         199           SOM                             Somalia
40         202           SSD                         South Sudan
41         203           STP               Sao Tome and Principe
42         209           SWZ                            Eswatini
43         211           SYC                          Seychelles
44         214           TCD                                Chad
45         215           TGO                                Togo
46         223           TUN                             Tunisia
47         226           TZA                            Tanzania
48         227           UGA                              Uganda
49         246           ZAF                        South Africa
50         247           ZMB                              Zambia
51         248           ZWE                            Zimbabwe

In [49]:
# Store in csv for tableau
country_codes_africa.to_csv('/Users/dorotheakirves/neuefische/Capstone/country_codes_africa.csv')

# OWID Total - Population

In [12]:
# Read in owid total
owid_total = pd.read_csv('/Users/dorotheakirves/neuefische/capstone_project/data/raw-owid-energy-data.csv')

In [13]:
# Keep only Country code, country name, year and population
population = owid_total[["iso_code", "country", "year","population"]]

In [14]:
# Drop rows before 1990
population = population.drop(population[population.year < 1990].index)
population = population.reset_index()
population = population.drop(['index'], axis=1)

In [15]:
# Store population in csv for Tableau
population.to_csv('/Users/dorotheakirves/neuefische/capstone_project/data/population.csv')

# OWID Total - Energy consumption

In [19]:
# Keep only Country code, country name, year and and consumption by source from owid_total
prim_en_cons = owid_total[['iso_code', 'country', 'year', 'nuclear_consumption', 'coal_consumption', 'hydro_consumption', 'oil_consumption', 'gas_consumption', 'wind_consumption', 'solar_consumption', 'other_renewable_consumption', 'primary_energy_consumption', 'energy_per_capita', 'biofuel_consumption', 'low_carbon_consumption', 'renewables_consumption']]

In [20]:
# Drop rows before 1990
prim_en_cons = prim_en_cons.drop(prim_en_cons[prim_en_cons.year < 1990].index)
prim_en_cons = prim_en_cons.reset_index()
prim_en_cons = prim_en_cons.drop(['index'], axis=1)

In [21]:
# Store energy consumption in csv for Tableau
prim_en_cons.to_csv('/Users/dorotheakirves/neuefische/capstone_project/data/energy-consumption-by-source-and-region.csv')

# Create Data for Africa

In [34]:
africa_list = africa_total['country'].tolist()

In [6]:
# Check for data in random African country
prim_en_cons.loc[(prim_en_cons["country"] == "Zambia") & (prim_en_cons["year"] > 2010)]

,country,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,year,solar_consumption,other_renewable_consumption,primary_energy_consumption,energy_per_capita,biofuel_consumption,iso_code,low_carbon_consumption,renewables_consumption
17341,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,2011,NaN,NaN,42.616,3039.025,0.0,ZMB,NaN,NaN
17342,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,2012,NaN,NaN,47.439,3279.589,0.0,ZMB,NaN,NaN
17343,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,2013,NaN,NaN,50.378,3374.976,0.0,ZMB,NaN,NaN
17344,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,2014,NaN,NaN,54.348,3529.102,0.0,ZMB,NaN,NaN
17345,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,2015,NaN,NaN,51.996,3274.540,0.0,ZMB,NaN,NaN
17346,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,2016,NaN,NaN,46.347,2832.411,0.0,ZMB,NaN,NaN
17347,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,2017,NaN,NaN,NaN,NaN,0.0,ZMB,NaN,NaN
17348,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,0.0,ZMB,NaN,NaN
17349,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN,NaN,0.0,ZMB,NaN,NaN

In [64]:
# generate list of all Africa countries
africa = pd.read_csv('/Users/dorotheakirves/neuefische/Capstone/Unbenannte Tabelle - Tabellenblatt1.csv')
#africa = africa['country'].tolist()
africa.to_csv('/Users/dorotheakirves/neuefische/capstone_project/data/countries_in_africa.csv')

In [59]:
# Create code for finding nulls
sources = ['nuclear_consumption', 'coal_consumption', 'hydro_consumption', 'oil_consumption', 'gas_consumption', 'wind_consumption', 'solar_consumption', 'other_renewable_consumption', 'low_carbon_consumption', 'renewables_consumption']
code = ''
for i in sources:
    text = f'(prim_en_cons["{i}"].isnull()) & '
    code = code+text
code

'(prim_en_cons["nuclear_consumption"].isnull()) & (prim_en_cons["coal_consumption"].isnull()) & (prim_en_cons["hydro_consumption"].isnull()) & (prim_en_cons["oil_consumption"].isnull()) & (prim_en_cons["gas_consumption"].isnull()) & (prim_en_cons["wind_consumption"].isnull()) & (prim_en_cons["solar_consumption"].isnull()) & (prim_en_cons["other_renewable_consumption"].isnull()) & (prim_en_cons["low_carbon_consumption"].isnull()) & (prim_en_cons["renewables_consumption"].isnull()) & '

In [61]:
# Identify countries with null on sources
null_sources = prim_en_cons.loc[(prim_en_cons["nuclear_consumption"].isnull()) & (prim_en_cons["coal_consumption"].isnull()) & (prim_en_cons["hydro_consumption"].isnull()) & (prim_en_cons["oil_consumption"].isnull()) & (prim_en_cons["gas_consumption"].isnull()) & (prim_en_cons["wind_consumption"].isnull()) & (prim_en_cons["solar_consumption"].isnull()) & (prim_en_cons["other_renewable_consumption"].isnull()) & (prim_en_cons["low_carbon_consumption"].isnull()) & (prim_en_cons["renewables_consumption"].isnull()) & (prim_en_cons["year"] > 2000)]
kenya = null_sources.loc[(null_sources["country"] == "Kenya")]
kenya.head(n = 50)
#null_sources_countries = null_sources['country'].unique().tolist()
#'Kenya' in null_sources_countries

,iso_code,country,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,solar_consumption,other_renewable_consumption,primary_energy_consumption,energy_per_capita,biofuel_consumption,low_carbon_consumption,renewables_consumption
3304,KEN,Kenya,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.729,1392.098,0.0,NaN,NaN
3305,KEN,Kenya,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.179,1368.197,0.0,NaN,NaN
3306,KEN,Kenya,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.954,1267.446,0.0,NaN,NaN
3307,KEN,Kenya,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.546,1334.257,0.0,NaN,NaN
3308,KEN,Kenya,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.823,1414.954,0.0,NaN,NaN
3309,KEN,Kenya,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.020,1514.514,0.0,NaN,NaN
3310,KEN,Kenya,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.438,1483.949,0.0,NaN,NaN
3311,KEN,Kenya,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.747,1426.097,0.0,NaN,NaN
3312,KEN,Kenya,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.102,1518.323,0.0,NaN,NaN
3313,KEN,Kenya,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.415,1603.931,0.0,NaN,NaN
3314,KEN,Kenya,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.737,1615.110,0.0,NaN,NaN
3315,KEN,Kenya,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.137,1559.140,0.0,NaN,NaN
3316,KEN,Kenya,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.584,1594.543,0.0,NaN,NaN
3317,KEN,Kenya,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.483,1680.586,0.0,NaN,NaN
3318,KEN,Kenya,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.885,1877.383,0.0,NaN,NaN
3319,KEN,Kenya,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.513,1906.408,0.0,NaN,NaN
3320,KEN,Kenya,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3321,KEN,Kenya,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3322,KEN,Kenya,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [62]:
null_sources_africa = []
for i in null_sources_countries:
    if i in africa:
        null_sources_africa.append(i)
'Kenya' in null_sources_africa

False

In [47]:
non_null_sources_africa = list(set(africa)-set(null_sources_africa))
non_null_sources_africa

['Nigeria',
 'Sudan',
 'South Africa',
 'Morocco',
 'Libya',
 'SÃ£o TomÃ© and PrÃ­ncipe',
 'Republic of Congo',
 'Chad',
 'Zambia',
 'Democratic Republic of the Congo',
 'Zimbabwe',
 'Egypt',
 'The Gambia',
 'Madagascar',
 'Angola',
 'Ethiopia',
 'Gabon',
 'Tunisia',
 'Ivory Coast',
 'Cabo Verde',
 'Algeria',
 'Kenya']

In [49]:
prim_en_cons.loc[(prim_en_cons["country"] == "Kenya") & (prim_en_cons["year"] > 2000)]

,iso_code,country,year,nuclear_consumption,coal_consumption,hydro_consumption,oil_consumption,gas_consumption,wind_consumption,solar_consumption,other_renewable_consumption,primary_energy_consumption,energy_per_capita,biofuel_consumption,low_carbon_consumption,renewables_consumption
3304,KEN,Kenya,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.729,1392.098,0.0,NaN,NaN
3305,KEN,Kenya,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.179,1368.197,0.0,NaN,NaN
3306,KEN,Kenya,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.954,1267.446,0.0,NaN,NaN
3307,KEN,Kenya,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.546,1334.257,0.0,NaN,NaN
3308,KEN,Kenya,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.823,1414.954,0.0,NaN,NaN
3309,KEN,Kenya,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.020,1514.514,0.0,NaN,NaN
3310,KEN,Kenya,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.438,1483.949,0.0,NaN,NaN
3311,KEN,Kenya,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.747,1426.097,0.0,NaN,NaN
3312,KEN,Kenya,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.102,1518.323,0.0,NaN,NaN
3313,KEN,Kenya,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.415,1603.931,0.0,NaN,NaN
3314,KEN,Kenya,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.737,1615.110,0.0,NaN,NaN
3315,KEN,Kenya,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.137,1559.140,0.0,NaN,NaN
3316,KEN,Kenya,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.584,1594.543,0.0,NaN,NaN
3317,KEN,Kenya,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.483,1680.586,0.0,NaN,NaN
3318,KEN,Kenya,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.885,1877.383,0.0,NaN,NaN
3319,KEN,Kenya,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.513,1906.408,0.0,NaN,NaN
3320,KEN,Kenya,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3321,KEN,Kenya,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3322,KEN,Kenya,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN